<div>
  <% @recipes.each do |recipe| %>
    <div>
      <%= link_to recipe.fields[:title], "/recipes/#{recipe.id}" %>

      <div class="recipe-image">
        <%= image_tag recipe.fields[:photo].url %>
      </div>
    </div>
  <% end %>
</div>
