%h3 Recipes List
%div
  - @result.recipes.each do |recipe|
    .recipe-item
      = link_to recipe.fields[:title], "/recipes/#{recipe.id}"
      .recipe-image
        = image_tag recipe.fields[:photo].url

  != paginate @result, items_per_page: 2, labels: {first: '«', last: '»'}